.cuerpo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e9e835f7-9567-4188-b9ef-0c02574d24e7/d7qw4zp-378efecd-f4af-4075-8a65-e9b9aff2b4b5.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2U5ZTgzNWY3LTk1NjctNDE4OC1iOWVmLTBjMDI1NzRkMjRlN1wvZDdxdzR6cC0zNzhlZmVjZC1mNGFmLTQwNzUtOGE2NS1lOWI5YWZmMmI0YjUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.veSLkVNBYsPehO5UwfHGjA8J1aazr8iTS5JsxWIqzNY");
}
.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: Marvel;
  font-size: 2.5rem;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-shadow: 1px 1px 2px whitesmoke;
}

.boton {
  direction: center;
  width: 300px;
  box-shadow: 1px 1px 2px black;
}
.fondo-titulo {
  background-color: rgba(245, 245, 245, 0.623);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px black;
  margin: 10px;
}
